<section class="row container-fluid">
    <div class="col-md-2">
        <img src="/images/placeholder.png" class="img-thumbnail img-fluid">
    </div>
    <div class="col-md-7 p-2">
        <h2>{{bandname}}</h2>
        <p class="lead">{{bandGenre}}</p>
        <p class="text-break">
            {{biography}}
        </p>
    </div>
    {{#if isCurrentUserBandLeader}}
     <div class="col-md-3 border-left border-primary bg-light p-2">
        <p class="h4">Leader dashboard</p>
        <a class="btn btn-secondary" href="/bands/update/{{bandId}}">Edit band</a>
        <p class="h5 my-3">Applications</p>
        {{#if bandApplications}}
        <ul class="list-group my-2">
            {{#each bandApplications}}
            <li class="list-group-item">
                <p><a href="/account/view/{{this.username}}">{{this.username}}</a> wants to join!</p>
                <div class="form-row">
                    <form method="POST" action="/bands/addMember/{{../bandId}}">
                        <input type="submit" value="Accept" class="btn btn-success mx-2">
                        <input type="hidden" value="{{this.username}}" name="username">
                        <input type="hidden" value="{{../csrfToken}}" name="_csrf">
                    </form>
                    <form method="POST" action="/applications/delete/{{this.username}}/{{this.band_id}}">
                        <input type="submit" value="Deny" class="btn btn-danger">
                        <input type="hidden" value="{{../csrfToken}}" name="_csrf">
                    </form>
                </div>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>No applications yet!</p>
        {{/if}}
    </div>
    {{/if}}
</section>
<section class="row container-fluid p-4">
    <h3>Members</h3>
    <div class="col-12">
        <ul class="list-unstyled list-inline my-2">
            {{#each bandMembers}}
            <li class="list-inline-item">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/account/view/{{this.username}}">{{this.username}}</a></h5>
                        {{#if this.is_band_leader}}
                        <p class="card-text">Band Leader</p>
                        {{/if}}
                        {{#if ../isCurrentUserBandLeader}}
                        <form method="POST" action="/bands/removemember/{{../bandId}}/{{this.username}}">
                            <input type="submit" class="btn btn-danger" value="Kick">
                            <input type="hidden" value="{{../csrfToken}}" name="_csrf">
                        </form>
                        {{/if}}
                    </div>
                </div>
            </li>
            {{/each}}
        </ul>
    </div>
</section>