<h2>Browse</h2>
<section class="row container-fluid">
    <form class="form-inline">
        <input type="text" placeholder="Search band title" class="form-control">
        <label for="sortBy" class="mx-sm-2">Sort by</label>
        <select class="form-control" id="sortBy">
            <option>
                PLACEHOLDER
            </option>
            <option>
                PLACEHOLDER
            </option>
        </select>
        <input type="submit" class="btn btn-primary mx-sm-2" value="Search">
    </form>
</section>
<section class="row p-2">
    <ul class="list-group w-100">
        {{#each bands}}
        <li class="list-group-item row m-sm-2 container w-100">
            <img class="col-2 img-thumbnail m-0" src="/images/PLACEHOLDER.JPG">
            <div class="col-9 m-0">
                <p class="h3">{{this.band_name}}</p>
                <p class="text-break">{{this.band_biography}}</p>
                <a href="bands/view/{{this.id}}" class="stretched-link"></a>
            </div>
            {{#if ../loggedInUsername}}
                {{#if ../memberships.length}}
                    {{#each ../memberships}}
                        {{#if (compare this.band_id "==" ../id)}}
                        <div class="alert alert-success" role="alert">
                            Member of this band
                        </div>
                        {{/if}}
                    {{/each}}
                {{else}}
                    <form method="POST" action="applications/create/{{../loggedInUsername}}/{{this.id}}">
                        <input type="submit" value="Apply" class="btn btn-success">
                        <input type="hidden" value="{{../csrfToken}}" name="_csrf">
                    </form>
                {{/if}}
                {{#if ../applications.length}}
                    {{#each ../applications}}
                        {{#if (compare this.band_id "==" ../id)}}
                        <div class="alert alert-success" role="alert">
                            Applied!
                        </div>
                        
                        {{/if}}
                    {{/each}}
                {{/if}}
            {{/if}}
        </li>
        {{/each}}
    </ul>
</section>