<h2>{{username}}</h2>
<section class="row container-fluid">
    <div class="col-md-12 p-2 row">
        <img class="img-thumbnail membercard" src="/images/PLACEHOLDER.jpg">
        <form method="POST" class="form-group col-md-10">
            <section>
                <label class="keepaspectratio" for="thumbImageSelect">Replace profile image</label>
                <input class="form-control" type="file">
            </section>
            <label for="bioEditText">Bio</label>
            <textarea class="form-control" type="text" value="{{biography}}" id="bioEditText" name="biography" rows="4"></textarea>

            <input class="btn btn-primary" type="submit" value="Save changes">
        </form>
    </div>
</section>
{{#if instruments}}
<section class="row container-fluid">
    <form method="POST" class="form-group" action="/proficiencies/create/{{username}}">
        <label for="instrumentSelect">Instrument</label>
        <select id="instrumentSelect" name="instrument">
            {{#each instruments}}
            <option>{{this}}</option>
            {{/each}}
        </select>
        <label for="skillLevelNumber">Skill level</label>
        <input type="number" min="1" , max="5" value="1" id="skillLevelNumber" name="skillLevel">
        <input class="btn btn-secondary" type="submit" value="Add proficiency">
    </form>
</section>
{{/if}}
<section class="row container-fluid">
    <h3>Proficiencies</h3>
    <div class="col-12">
        {{#if proficiencies}}
        <ul class="list-unstyled list-inline">
            {{#each proficiencies}}
            <li class="list-inline-item bg-light p-2">{{this}}</li>
            {{/each}}
        </ul>
        {{else}}
        <p>Nothing here but us rats!</p>
        {{/if}}
    </div>
</section>