<h2 class="display-4">{{username}}</h2>
<div class="row container">
    <a class="btn btn-danger" href="/account/delete/{{loggedInUsername}}">Delete account</a>
</div>
<section class="row container-fluid m-2 p-3 border border-primary rounded-lg">
    <h3>Edit biography</h3>
    <div class="col-md-12 p-2 row">
        <form method="POST" class="form-group col-md-12">
            <div class="form-row">
                <label for="bioEditText">Biography</label>
                <textarea class="form-control w-100" type="text" id="bioEditText" name="biography" rows="4">{{biography}}</textarea>
            </div>
            <div class="form-row">
                <input class="btn btn-primary my-2" type="submit" value="Save changes">
                <input type="hidden" value="{{csrfToken}}" name="_csrf">
            </div>
        </form>
    </div>
</section>
{{#if instruments}}
<section class="row container-fluid m-2 p-3 border border-primary rounded-lg">
    <h3>Add proficiency</h3>
    <form method="POST" class="form-group col-12" action="/proficiencies/create/{{username}}">
        <div class="form-row">
            <div class="form-group col">
                <label for="instrumentSelect">Instrument</label>
                <select class="form-control" id="instrumentSelect" name="instrument">
                    {{#each instruments}}
                    <option>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col">
                <label for="skillLevelNumber">Skill level</label>
                <input class="form-control" type="number" min="1" , max="5" value="1" id="skillLevelNumber" name="skillLevel">
            </div>
        </div>
        <div class="form-row">
            <input class="btn btn-secondary" type="submit" value="Add proficiency">
            <input type="hidden" value="{{csrfToken}}" name="_csrf">
        </div>
    </form>
</section>
{{/if}}
<section class="row container-fluid m-2 p-3">
    <h3>My proficiencies</h3>
    <div class="col-12">
        {{#if proficiencies}}
        <ul class="list-unstyled list-inline">
            {{#each proficiencies}}
            <li class="list-inline-item bg-light p-2">
                <p class="my-1 h6">{{this.instrument_name}}</p>
                    <form method="POST" action="/proficiencies/update/{{username}}/{{this.instrument_name}}">
                        <label for="skillLevel">Skill level</label>
                        <input class="form-control col" type="number" min="1" , max="5" value="{{this.proficiency_level}}" name="skillLevel" id="skillLevel">
                        <input class="btn btn-primary col" type="submit" value="Update skill">
                        <input type="hidden" value="{{../csrfToken}}" name="_csrf">
                    </form>
                    <form method="POST" action="/proficiencies/delete/{{username}}/{{this.instrument_name}}">
                        <input class="btn btn-warning col" type="submit" value="Delete">
                        <input type="hidden" value="{{../csrfToken}}" name="_csrf">
                    </form>
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>Nothing here but us rats!</p>
        {{/if}}
    </div>
</section>