{{#if bandname}}
<h2>Editing {{bandname}}</h2>
{{else}}
<h2>Create Band</h2>
{{/if}}
<section class="row container-fluid">
    <div class="col-md-12 p-2 row">
        <img class="img-thumbnail membercard" src="/images/PLACEHOLDER.jpg">
        {{#if bandname}}
        <form method="POST" action="/bands/delete/{{bandId}}">
            <input type="hidden" value="{{csrfToken}}" name="_csrf">
            <button class="btn btn-primary" value="DELETE">DELETE</button>
        </form>
        {{/if}}
        <form class="form-group col-md-10" method="POST">
            <label>Edit Band name</label>
            <input class="form-control" type="text" name="bandNameText" value="{{bandname}}">
            <section>
                <label class="keepaspectratio" for="thumbImageSelect">Replace band image</label>
                <input class="form-control" type="file">
            </section>
            <label for="bioEditText">Edit band bio</label>
            <input class="form-control" type="text" id="bioEditText" name="bioText" value="{{biography}}">
            <input class="btn btn-primary" type="submit" value="Save changes">
            <section>
                <label for="genreChoose">Choose your genre</label>
                <select name="genre" id="genre">
                    {{#each genres}}
                        <optgroup label={{this.headGenreName}}>
                            {{#each this.subGenres}}
                                <option value={{this}}>{{this}}</option>
                            {{/each}}
                        </optgroup>
                    {{/each}}
                </select>
            </section>
            <input type="hidden" value="{{csrfToken}}" name="_csrf">
        </form> 
    </div>
</section>