<div class="row m-3">
<!--SIGN IN-->
<section class="col-md-6 mx-auto">
    <p class="display-4 text-center">Sign {{#if showSignInPage}}in{{else}}up{{/if}}</p>
    <form method="POST">
        <div class="form-group">
            <label for="signin_username">Username</label>
            <input class="form-control" type="text" id="signin_username" name="username" value="{{username}}">
        </div>
        <div class="form-group">
            <label for="signin_password">Password</label>
            <input class="form-control" type="password" id="signin_password" name="password" value="{{password}}">
        </div>
        {{#if showSignInPage}}
        <input class="btn btn-primary" type="submit" value="Log in">
        {{else}}
        <div class="form-group">
            <label for="signup_passwordrepeat">Repeat</label>
            <input class="form-control" type="password" id="signup_passwordrepeat" name="passwordRepeat" value="{{passwordRepeat}}">
        </div>
        
        <input class="btn btn-primary" type="submit" value="Create account">
        {{/if}}

        <input type="hidden" value="{{csrfToken}}" name="_csrf">
    </form>
</section>
</div>
{{#if error}}
{{#each error.messages}}
<div class="alert alert-{{../error.type}}" role="alert">{{this}}</div>
{{/each}}
{{/if}}