<section class="row container-fluid">
    <img src="/images/PLACEHOLDER.jpg" class="col-md-2 rounded img-thumbnail img-fluid">
    <div class="col-md-auto p-2">
        <h2>{{username}}</h2>
        <p class="text-break">{{biography}}</p>
    </div>
    {{#if isUserOwner}}
    <div>
        <a class="btn btn-primary" href="/account/update/{{loggedInUsername}}">EDIT</a>
    </div> 
    {{/if}}
</section>
<section class="row container-fluid p-4">
    <p class="h3">Proficiencies</p>
    <div class="col-12">
        {{#if proficiencies}}
        <ul class="list-unstyled list-inline">
            {{#each proficiencies}}
            <li class="list-inline-item bg-light p-2">
                {{this.instrument_name}} {{this.proficiency_level}}
            </li>
            {{/each}}
        </ul>
        {{else}}
        <p>Nothing here but us rats!</p>
        {{/if}}
    </div>
</section>